<h1>タイトル</h1>
<p><%= @list.title %></p>

<h2>本文</h2>
<p><%= @list.body %></p>


<h2>画像</h2>
<% if @list.image.attached? %>
  <%= image_tag @list.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<%= link_to "編集", edit_list_path(@list.id) %>
<%= link_to "削除", list_path(@list.id), method: :delete, "date-confirm" => "本当に削除しますか？" %>

<h2>コメントをする</h2>
<%= form_with(model:[@list, @comment], method: :post) do |f| %>
<div class="comment-form">
  <%= f.text_area :comment %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <%= f.submit 'コメントする' %>
    <div class="star-form-group" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
  </script>
</div>
<% end %>


<h2>コメント一覧</h2>
<% @comments.each do |comment| %>
 <%= comment.user.name_family %>
 <%= comment.comment %>
<% end %>

