<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">New list</h2>
      <%= render 'lists/form', list: @list %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <tr>
          <td><%#= attachment_image_tag(@group, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td><%= @group.title %></td>
          <td><%= @group.introduction %></td>
          <td>
            <% @group.users.each do |member| %>
              <%= member.name_family %><br>
            <% end %>
          </td>
          <td>
            <% if @group.owner_id == current_user.id %>
              <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
            <% elsif @group.users.include?(current_user) %>
              <%= link_to 'このグループから退出', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to 'このグループに参加', group_join_path(@group), class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>