

<p id="test">jQueryでーーーーーす</p>
<p class="hoge">色を変えまーーーーーーーす</p>

<!--タブ機能-->
<div class="tab-panel">
  <!--タブ-->
  <ul class="tab-group">
    <li class="tab tab-A is-active">Tab-A</li>
    <li class="tab tab-B">Tab-B</li>
    <li class="tab tab-C">Tab-C</li>
 </ul>

  <!--タブを切り替えて表示するコンテンツ-->
  <div class="panel-group">
    <div class="panel tab-A is-show">Content-A</div>
    <div class="panel tab-B">Content-B</div>
    <div class="panel tab-C">Content-C</div>
  </div>
</div>



<h2>
  <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
</h2>

<%= react_component('Film') %>

<div id ="body-clock">
  <div id="clock_frame">
        <!-- 日付部分 -->
    <span id="clock_date"></span>
        <!-- 時刻部分 -->
    <span id="clock_time"><%= react_component('Time') %></span>
  </div>
</div>


<!--投稿-->
<%= link_to "投稿一覧へ", lists_path %>
<%= link_to "ユーザー一覧へ", users_path %>